

 #navbar ul{
   display: none;
  }

 
 .fa{
    background:transparent;
    display: block;
    position: absolute;
    right: 30px;
    top: 17px;
    color:black;
  }

  #navbar{
      position: relative;
      display: flex;
      text-align: center;
      flex-direction: column;
  }
   
  #navbar ul a:hover{
    padding: 0px 6px;
}
 
  
  #navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Style the active link (or home/logo) */
  .active {
    background-color: #04AA6D;
    color: white;
    padding: 0px 0px;
  }


  

 #home{
   height: 460px;
   padding: 0 5%;
   padding-top: 15px;
 }

 #home::before{
    height: 440px;
 }

 .h-primary{

    font-size: 1.4rem;
    padding: 12px;
 }

 #home p{
    font-size: .8rem;
}

.btn{
  
    font-size: 15px;
    font-weight: 502;
    margin: 15px 1px;
    padding: 6px 17px;
    border-radius: 9px;
}

  

#services{
    flex-direction: column;
}

#services .box{
text-align: center;
height: 100%;
adding: 3px 16px;
}

#services img {
    height: 61%;
    width: 38%;
}

.h-primary-centre {
    font-size: 1.6rem;
}

.partners{
    flex-wrap: wrap;
}

.partner-item {
    margin: 2px;
    padding: 7px;
}
.partners img{
height: 85px;
width: 101px;
}

#contact-box {
    padding-top: 8px;
    text-align: left;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}
#contact-box input,#contact-box textarea{
    width: 80%;
    height: 14px;
    padding: .5rem;
    border-radius: 16px;
    text-align: center;
}
.btn-submit{
    font-size: 14px;
    font-weight: 550;
    margin: 16px 94px;
    padding: 8px 8px;
    text-align: center;
    text-decoration: wavy;
}

footer{

}